* {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85CDF5;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Darker Grotesque, sans-serif;

    padding: 1rem 0;
    box-shadow: black 1px 1px 8px;

}

header a {
    font-size: 30px;
    font-weight: 700;

    text-decoration: none;
    color: #000;
}

#quem-somos-link {
    text-decoration: none;
    color: #000;

    font-size: 30px;
    font-weight: 700;

    position: relative;
}

#quem-somos-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#quem-somos-link:hover::before {
    transform: scaleX(1);
}

#nossos-lobinhos-link {
    text-decoration: none;
    color: #000;

    font-size: 30px;
    font-weight: 700;

    position: relative;
}

#nossos-lobinhos-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#nossos-lobinhos-link:hover::before {
    transform: scaleX(1);
}
@media (max-width: 440px){
    .header-quem-somos-list{
        margin-left: 3em
    }
    #nossos-lobinhos-link{
        margin-left: 1em;
    }

    
}
@media (max-width: 408px){
    img{
        max-width: 90%;
    }

    #nossos-lobinhos-link{
        margin-left: 1.5em;
    }
}
@media (max-width: 408px){
    header img{
        display: none;
    }

    #nossos-lobinhos-link{
        margin-left: 1.5em;
    }
}