.nomedolobo{
    display: flex;
    color: #000;
    font-size: 3.75rem;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.numid{
    display: flex;
    color: #000;
    font-family: Darker Grotesque;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


body{
    min-height: 100%;
}

main{
    align-items: baseline;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#geral_adot_lobin{
    margin: 0 10%;
    margin-top: 3.12rem;
    gap: 3rem;
    justify-content: space-around;
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
}

.imgLobo{
    width: 12.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    border-radius: 50%;
}

#area_nome{
    flex-wrap: wrap;
    display: flex;
    margin:0 20%;
    margin-top: 10.56rem;
    justify-content: space-between;
}

#area_email{
    height:13rem;
    display: flex;
    margin-top: 10.56rem;
    margin-left: 20%;
    flex-direction: column;
    justify-content: space-between;
}

#area_form{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.btn_adota{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #FFF;
    font-family: Darker Grotesque;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 13.0625rem;
    height: 3.75rem;
    flex-shrink: 0;
    border: 1px solid #333;
    background: #2C5680;
    transition: 0.2s;
}

.btn_adota:hover{
    cursor: pointer;
    transform: scale(1.07);
    background: #396b9d;
}

footer{
    flex-wrap: nowrap;
}

.label_adot_idade{
    color: #000;
    font-family: Darker Grotesque;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.label_adot_nome{
    color: #000;
    font-family: Darker Grotesque;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.label_adot_email{
    color: #000;
    font-family: Darker Grotesque;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
}


#email_adot{
    font-size: 1.5rem;
    width: 80%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

#nome_adot{
    font-size: 1.5rem;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
#idade_adot{
    font-size: 1.5rem;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}