body{
    height: 100%;
}

.homeSlide{
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-image: url(../../assets/lobo_home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.slideAnimation{
    width: 99px;
    border-top: 5px solid #FFF;
}

.homeAdote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    gap: 1.5rem;
}

.chamadaAdocao p{
    flex-wrap: wrap;
    font-family: Darker Grotesque;
    font-size: 96px;
    font-weight: 700;
    color: #FFF;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

.textoAdocao p{
    padding-bottom: 2rem;
    flex-wrap: wrap;
    font-family: Darker Grotesque;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2C5680;

    gap: 15px;

    padding: 0 30px;
}

.aboutText {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.aboutText h1 {
    flex-wrap: wrap;
    font-family: Darker Grotesque;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #DEB959;

    margin-top: 30px;
}

.aboutText p {
    flex-wrap: wrap;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #FFF;

    margin-bottom: 60px;
}

.aboutText-paragrafo {
    width: 70%;
}

.valoresSection{
    background-color: #333333;
}

.valoresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    height: 100%;
}

.valoresTitle {
    margin-top: 35px;
}
.valoresTitle h1 {
    font-family: Darker Grotesque;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #DEB959;
}

.valores {
    display: flex;
    width: 100%;

    margin-bottom: 90px;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.valorImagem {
    height: 10em;
    width: 10em;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: auto;
}

.valorDescricao{
    font-family: Darker Grotesque;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
    word-break: break-word;
    width: 80%;
}

#protecao {
    background-image:url(../../assets/valorProtecao.png);
}

#carinho {
    background-image: url(../../assets/valorCarinho.png);
}

#companheirismo {
    background-image: url(../../assets/valorCompanheirismo.png);
}

#resgate {
    background-image: url(../../assets/valorResgate.png);
}

.valorNome{
    font-family: Darker Grotesque;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
}


.texto{
    display: flex;
    flex-wrap: wrap;
    max-width: 22em;
    Word-break: break-word;
    font-family: Darker Grotesque, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}
.secao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
    margin-top: 40px;
    gap: 5rem;
    align-items: center;
    margin: 7em;
}
.caixa{
    width: 25em;
    height: 20em;
    background:  #2C5680;
    padding: 2em 0em 0em 2em;
    border: black 0.2em solid;
    max-width: 100%;
}
h2{
    font-size: 20px;
    font-weight: 600;
}
.textoebtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textoebtn{
    width: 528px;
}
.txtbtnsub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2rem;
}

.txtbtnsub > button{
    border: none;
    background-color:#DEB959;
    width: 6em;
    height: 1.5em;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}
.imgLobo{
    width: 430px;
    height: 328px;
    background-color: aliceblue;
}

button > a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

@media screen and (max-width: 970px) {
    .valores {
        flex-direction: column;
        gap: 5rem;
    }

    .textoAdocao{
        width: auto;
    }

    .valorDescricao {
        width: 50%;
    }
}

.txtbtnsub > button:hover{
    transform: scale(1.3);

}

@media screen and (max-width: 718px) {
    .chamadaAdocao{
    }

    .imgLobo{
        transform: scale(0.8);
    }

    .caixa{
        transform: scale(0.8);
    }

    .figure{
        transform: scale(0.8);
    }

    .txtbtnsub{
        gap:20px;
    }
}

@media screen and (max-width: 435px) {
    .imgLobo{
        transform: scale(0.6);
    }

    .caixa{
        transform: scale(0.6);
    }

    .figure{
        transform: scale(0.5);
    }
}